<header>
    <div class="jumbotron">
        <nav class="display-3 text-white navbar bg-dark">
        
            <img src="https://external-preview.redd.it/bOQoL87VWGgAy8kPJ6kmAtdG8BkUgvgvOk8lXb5zgEg.jpg?auto=webp&s=bc490a94c7b579a5ab503e6d87db1213c222035b" width="auto" height="200"/>
            {{title}}

            <app-button 
                *ngIf="hasRoute('/')"
                text="{{showAddTask?'Close':'Add Task'}}"  
                color="{{showAddTask?'red':'green'}}" 
                (btnClick)="toggleAddTaskForm()"
            >
            </app-button>
        
        </nav>
        <br/>

    </div>
</header>